body{
  background-image: url("Background.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
 h1{
          font-size:80px;
          color:red;
          font-family: 'Open Sans Condensed', sans-serif;
          -webkit-animation-name: swageffect; /* Safari 4.0 - 8.0 */
 -webkit-animation-duration: 1s;
 animation-name: swageffect;
 animation-duration: 1s;
 animation-iteration-count: infinite;
 -webkit-animation-iteration-count: infinite;
}

body{
  background-image: url("Dab.gif");
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
    font-size: 40px;
    color:pink;
}

body {
  font-family: 'Tangerine', serif;
  font-size: 40px;
  text-shadow: 4px 4px 4px #aaa;
}

 h2 {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}